logs
*.log
npm-debug.log*
node_modules
.npm
.DS_Store
*/node_modules
.next
*/.next
*/npm-debug.log*
.idea
*/.idea
*/build/
*/.DS_Store
*/.settings/
.gradle/
*.bak
*.zip
*.diff
*.err
out
*/out
*/zh
.yalc/
yalc.lock
export